.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: transparent;
  overflow: hidden;
  z-index: 1002;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 5px;
    background-color: $primaryColor;
    animation: moveLoadBar 1s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
  }
}

@keyframes moveLoadBar {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: #c1bebe69;
  border-radius: 5px;
}

.admin-container {
  height: 100%;
  background: $backgroundColor;
}

.content {
  padding: 1.75rem 1rem 0;
  margin-left: 260px;
  position: relative;
  transition: all 0.3s ease;
  overflow-x: hidden;
  min-height: calc(100vh - 98.9px);
  max-height: calc(100vh - 98.9px);
  transition: $layoutTransition;
  @media (max-width: 1400px) {
    & {
      margin-left: 0;
    }
  }
}
