.dashboard-container {
  display: flex;

  & > div:first-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60%;
  }

  & > div:last-child {
    min-width: fit-content;
    display: flex;
    width: 40%;
    padding: 0.5em;
  }
  @media (max-width: 1220px) {
    & {
      flex-direction: column;
    }

    & > div:first-child {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 100%;
    }

    & > div:last-child {
      width: 100%;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: $borderRadius;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
  justify-content: space-between;
}

.month-card {
  max-height: 224px;
  min-width: 200px;
  width: calc(33.33% - 1em);
  margin: 0.5em;

  @media (max-width: 697px) {
    & {
      width: calc(50% - 1em);
    }
  }

  @media (max-width: 464px) {
    & {
      width: calc(100% - 1em);
    }
  }

  .card-body {
    padding: 1.5rem;
    & > h6 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2;
      color: $fontColor;
    }

    & > h2 {
      margin-top: 0;
      margin-bottom: -4px;
      font-weight: 600;
      font-size: 1.714rem;
      color: $fontColor;
    }
    & > span {
      font-size: 0.85rem;
      &.green {
        color: #22c55e;
      }
      &.red {
        color: #a01f1f;
      }
    }
  }
}

.all-months-card {
  max-height: fit-content;
  width: 100%;
  .card-header {
    padding: 1rem 0.8rem 0;
    border-bottom: 2px solid $backgroundColor;
    margin-bottom: 2.3rem;
    & > p {
      margin-top: 0;
      font-size: 1.285rem;
    }
  }
}
