.pagination {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #ededed;
  border-radius: 5px;
  height: fit-content;
  padding: 6px;
  & ul {
    margin: 0;
    padding: 0;
    text-align: center;
    & li {
      display: inline;
    }
    & li a {
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;
      color: #000;
      cursor: pointer;
    }

    & li a {
      border-radius: 5px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
    }
    & li.selected a {
      background-color: $primaryColor;
      color: #fff;
    }
    & li:not(.selected) a:hover {
      background-color: #ddd;
    }
  }
}
